body{
  background-color:#98ff78;
}
.home{
  color:#000000;
  font-size:14px;
  text-decoration:none;
}
.home:hover{
  color:#ff0000;
  text-decoration:underline;
}
.home:visited{
  color:#000000;
  text-decoration:none;
}
.title{
  color:#000000;
  text-decoration:none;
  font-size:30px;
  transition: all 0.5s;
}
.title:hover{
  color:#0000ff;
  font-size:70px;
  transition: all 0.5s;
}
.text{
  color:#000000;
  font-size:24px;
}
.link{
  color:#0000aa;
  text-decoration:none;
}
.link:hover{
  color:#ff0000;
  text-decoration:underline;
}
