body{
  background-color:#98ff78;
  color:#000000;
  font-size:25px;
}
a{
  color:#000000;
  text-decoration:none;
}
a:hover{
  color:#0000ff;
  text-deocration:underline;
}
a:visited{
  color:#000000;
  text-decoration:none;
}
