body{
  background-color:#98ff78;
}
.navigationupper{
  color:#000000;
  text-decoration:none;
  font-size:14px;
  text-align:center;
}
.navigationupper:hover{
  color:#ff0000;
  text-decoration:underline;
}
.navigationupper:visited{
  color:#000000;
  text-decoration:none;
}
.title{
  text-align:center;
  text-decoration:none;
  color:#555555;
  font-size:40px;
  transition:all 0.5s;
}
.title:hover{
  font-size:80px;
  transition:all 0.5s;
}
.text{
  font-size:24px;
  text-decoration:none;
  color:#222222;
}
.center{
  text-align:center;
  content-align:center;
}
